{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "key-spacing": [
      "error",
      {
        "align": "value"
      }
    ],
    "space-before-function-paren": [
      "error",
      "always"
    ],
    "func-names": [
      "error",
      "never"
    ],
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "computed-property-spacing": [
      "error",
      "always"
    ],

    "no-multi-spaces": 0,
    "implicit-arrow-linebreak": 0,
    "operator-linebreak": 0,
    "consistent-return": 0
  }
}
